body {
    align-items: center;
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100wh;
}

div {
    background-color: white;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 500px) 
{
    body {
        align-items: center;
        background-color: aquamarine;
        display: flex;
        height: 100vh;
        justify-content: center;
        width: 100wh;
    }
    
    div {
        background-color: rgb(0, 0, 0);
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 500px) and (max-width:800px) 
{
    body {
        align-items: center;
        background-color: aquamarine;
        display: flex;
        height: 100vh;
        justify-content: center;
        width: 100wh;
    }
    
    div {
        background-color: rgb(255, 0, 0);
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width:800px)
{
    body {
        align-items: center;
        background-color: aquamarine;
        display: flex;
        height: 100vh;
        justify-content: center;
        width: 100wh;
    }
    
    div {
        background-color: rgb(255, 255, 0);
        height: 100px;
        width: 100px;
    }
}