body {
  display: grid;
  margin: 0 auto;
  width: 60em;
  grid-area: 1 / 1 / span 4 / span 4;
}

section {
  margin: 1em;
  padding: 2em;
}

#green {
  background-color: #baffc9;
  grid-column: 1 / 4;
  grid-row: 1;
}

#orange {
  background-color: #ffdfba;
  grid-column: 2;
  grid-row: 2;
}

#yellow {
  background-color:   #ffffba;
  grid-column: 1;
  grid-row: 2/4;
}

#red {
  background-color:   #ffb3ba;
  grid-column: 3;
  grid-row: 2/4;
}

#blue {
  background-color:   #bae1ff;
  grid-column: 2;
  grid-row: 3;
}

ul { 
  padding: 0; 
}

li {
  background-color: white;
  display: block;
  margin: 1em;
  padding: 1em;
}
